.address-box{
    height: 2rem;
    padding: 0.36rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #181818;
    font-size: 0.26rem;
    box-sizing: border-box;
}
.address-d{
    margin-top: 0.2rem;
    font-size: 0.3rem;
}
.address-box img{
    height: 0.4rem;
}
.lb{
    margin-top: 0.16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.32rem;
    background-color: #fff;
}
.goods-img{
    width: 2rem;
    height: 1.76rem;
    background-color: #0080ff;
}
.mid{
    width: 4.4rem;
}
.mid .name{
    font-size: 0.26rem;
    color: #181818;
}
.mid-b{
    margin-top: 0.5rem;
    display: flex;justify-content: space-between;align-items: center
}
.mid .price{
    font-size: 0.36rem;
    color: #ff5d62;
}
.goods-info{
    background-color: #fff;
    padding: 0.32rem;
}
.goods-info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.26rem;
    line-height: 0.6rem;
}
.goods-info-item .label{
    color: #999999;
}
.goods-info-item .goods-info-t{
    font-size: 0.26rem;
    color: #ff5d62;
}
.goods-info .pay-h{
    font-size: 0.3rem;
    color: #333;
    margin-bottom: 0.12rem;
}
.fix_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.car-sub{
    margin-left: auto;
    width: 2.6rem;
    height: 100%;
    background-color: #ff5d62;
    font-size: 0.3rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.98rem;
}
.zjq{
    margin-left: 0.32rem;
    font-size: 0.3rem;
    color: #ff5d62;
}
#zj{
    font-size: 0.48rem;
}
.address-info{
    width: 90%;
    font-size: 0.26rem;
}
.add-address{
    text-align: center;
}
.add-address a{
    font-size: 0.3rem;
}
.pay-item{
    padding: 0.16rem 0;
    display: flex;
}
.pay-item img{
    height: 0.36rem;
    margin-right: 0.2rem;
}
.pay-item .check{
    margin-left: auto;
    height: 0.36rem;
    width: 0.36rem;
    background: url("../img/check.jpg") no-repeat center/cover;
}
.goods-info .pay-item.active .check{
    margin-left: auto;
    height: 0.36rem;
    width: 0.36rem;
    background: url("../img/check_on.jpg") no-repeat center/cover;
}
.full-btn{
    position: fixed;
    bottom: 0.32rem;
    left: 0.25rem;
    width: 7rem;
    height: 0.88rem;
    background-color: #ff5d62;
    border-radius: 0.44rem;
    line-height: 0.88rem;
    text-align: center;
    color: #fff;
    font-size: 0.3rem;
}
.mt16{
    margin-bottom: 0.16rem;
}